@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;

}

.mainandlist{
    background-color: rgb(184, 213, 224);

}

.blogs{
    background-color: rgb(175, 191, 197);


}

.headings{
    color: teal;
}

span{
    background-color: rgb(4, 72, 173);
}